/*=============================================
  Theme Settings
=============================================*/

$color-primary:    $green;
$color-secondary:  $green-dark;

$footer-background: $black;

$text-color-default: $black;
$text-color-inverse: $white;

$button-primary-color: $green;
$button-secondary-color: $brown;
