<form action="/search" method="get" accept-charset="UTF-8" data-drupal-form-fields="edit-keyword">
  <div class="js-form-item form-item js-form-type-textfield form-item-keyword js-form-item-keyword">
    <label for="edit-keyword">Keyword</label>
    <input data-drupal-selector="edit-keyword" name="keyword" value="" size="30" maxlength="128" class="form-text" type="text">
  </div>
  <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" >

    <input data-drupal-selector="edit-submit-search" value="Apply" class="button js-form-submit form-submit" type="submit">
  </div>
</form>
