<!-- Add you custom twig html here -->

{{ attach_library('getfarmcredit_client/map') }}
<script type="text/javascript" src="https://www.getfarmcredit.com/modules/custom/getfarmcreditmap/js/getfarmcreditmap.js"></script>
<div id="app"></div>
