{#
  Type:           Block View (placed into Main Content Region)
  Content Type:   (Any)
  View Mode:      title_only
#}

{%
  set classes = [
    'title-only-header',
    'title-only-header--' ~ node.bundle|clean_class,
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

{% set title_attributes = create_attribute() %}

<div{{ attributes.addClass(classes) }}>  
  {{ metadata }}
  <h1{{ title_attributes.addClass('title-only-header__title') }}>
    {{ label }}
  </h1>
</div>
