
/*=============================================
  Careers list
=============================================*/

.job-list {
  margin-top: 2em;
}

.job-detail {
  margin-bottom: 3em;
}

.job-link {
  margin: 0 0 1em;
  display: inline-block;
}