/*=============================================
  Page: Marketing
=============================================*/

.page-node-type-marketing-page {
  .block-system-branding-block {
    justify-content: center;
  }

  #copyright-block {
    margin: 0 auto;
  }
}
