/*=============================================
  Page: Location
=============================================*/

.block-views-blocklocation-people-block-location-people {
  h2 {
    text-align: center;
  }

  .item-list {
    padding: 0 1rem;
  }
}
